<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cubo</servlet-name>
        <servlet-class>com.mycompany.taller.Cubo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hipotenusa</servlet-name>
        <servlet-class>com.mycompany.taller.Hipotenusa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SumNum</servlet-name>
        <servlet-class>com.mycompany.taller.SumNum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContVisitas</servlet-name>
        <servlet-class>com.mycompany.taller.ContVisitas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cubo</servlet-name>
        <url-pattern>/Cubo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hipotenusa</servlet-name>
        <url-pattern>/Hipotenusa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SumNum</servlet-name>
        <url-pattern>/SumNum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContVisitas</servlet-name>
        <url-pattern>/ContVisitas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>